#game-board {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    border: 2px solid red;
}

.game-row {
    display: flex;
    height: 10px;
    width: 60px;
    border: 1px solid blue;
}

.game-cell {
    display: flex;
    height: 5px;
    width: 5px;
    border: 1px solid blue;
}