
/*
Reference palette:
https://coolors.co/palette/057672-05827d-058f8a-059d98-06ada7-07beb8-3dccc7-68d8d6-9ceaef-c4fff9
*/

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #06ADA7;
    font-family: Optima;
}

#game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
    border: 2px solid #057672;
    background-color: #9CEAEF;
    visibility: hidden;
}

.game-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    /*height: 6vw;
    width: 55vw;*/
    height: auto;
    width: auto;
    /*border: 1px solid green;*/
}

.game-cell {
    display: flex;
    height: 4vw;
    width: 4vw;
    margin: 1px;
    border: 2px solid #057672;
}

.game-cell:hover {
    background-color: #C4FFF9;
}

/* ARH: I'll style this stuff */
form {
    display: flex;
    justify-content: center;
}

.button-box {
    display: flex;
    flex-direction: column;
    width: 30vw;
    align-items: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.players {
    display: flex;
    flex-direction: row;
}

p {
    font-size: 18px;
}

h1 {
    display: flex;
    justify-content: center;
}

h3 {
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 25px;
}

.player-input {
    display: flex;
    flex-direction: column;
    width: 40vw;
    align-items: center;
}

.player-names {
    width: 25vw;
    height: 4vh;
    margin-bottom: 2vh;
    border-radius: 10px;
}

.player-colors {
    width: 3vw;
    height: 5vh;
    margin-bottom: 2vh;
    border-radius: 30px;
}

#submit  { /* Change font + rounded border + color CHECK ON THIS!!!*/
    background-color: #9CEAEF;
    font-family: Verdana;
    font-size: 20px;
    width: auto;
    height: auto;
    padding: 2vh;
    margin-bottom: 2vh;
    margin-top: 5vh;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#button1 {
    background-color: #9CEAEF;
    font-family: Verdana;
    font-size: 20px;
    width: auto;
    height: auto;
    padding: 2vh;
    margin-bottom: 2vh;
    margin-top: 5vh;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    visibility: hidden;
}


#submit:hover {
    background-color: #C4FFF9;
    cursor: pointer;
}

.player-colors:hover {
    cursor: pointer;
}

#characters {
    float: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 35vw;
    width: 15vw;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 4vw;
    width: 4vw;
}

/* Attack */
.red_background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: red;
    opacity: 0.5;
    z-index:  7;
    display: none;
}

/* Movement */
.blue_background {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: blue;
    opacity: 0.5;
    z-index:  7;
    display: none;
}


/* rework everything below */


/*color and name fields */


#submit{
    margin-left: 35%;
}


#words{
    margin-top: -17%;
}

#player1{
    margin-left: 8%;
}

#player1Color, #player2Color{
    visibility:hidden;
}

#player1Name {
    font-family: Verdana;
    font-size: 10px;
    width: auto;
    height: auto;
    padding: 2vh;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#player2Name{
    font-family: Verdana;
    font-size: 10px;
    width: auto;
    height: auto;
    padding: 2vh;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 35%;
}

#player1Color{
    visibility: hidden;
    font-family: Verdana;
    font-size: 10px;
    width: 150px;
    height: 50px;
    padding: 2vh;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

#player2Color{
    visibility: hidden;
    font-family: Verdana;
    font-size: 10px;
    width: 150px;
    height: 50px;
    padding: 2vh;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 45%;
}

#board-size{
    font-family: Verdana;
    font-size: 10px;
    width: auto;
    height: auto;
    padding: 2vh;
    margin-bottom: 2vh;
    margin-top: 5vh;
    border-radius: 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    margin-left: 40%;
    visibility: hidden;
}

#words, #words1{
    padding: 2vh;
    margin-bottom: 2vh;
    margin-top: 5vh;
}

#name, #names #colors{
    display: flex;
}

#names1{
    display: flex;
}
#name2{
font-size: 25px;
margin-left: 65%;
}

#name1{
    font-size: 25px;
}

#p1{
  float: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8vw;
  width: 20vw;
  border: 2px solid red;
  margin-right: 45px;
  margin-bottom: 15px;
  visibility: hidden;
}

#p2{

  float: right;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 8vw;
  width: 20vw;
  border: 2px solid blue;
  margin-left: 45px;
  margin-bottom: 15px;
  visibility: hidden;
}



#Actions{
 float: left;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 height: 10vw;
 width: 10vw;
 border: 2px solid red;

}



.dropbtn {
 background-color: #3498DB;
 color: white;
 padding: 16px;
 font-size: 16px;
 border: none;
 cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus{
 background-color: #2980B9;
}

.dropdown {
 position: relative;
 display: inline-block;
}

.actList {
 float: left;
 align-items: center;
 justify-content: center;
 flex-direction: column;
 display: none;
 position: relative;
 background-color: #f1f1f1;
 min-width: 5vw;
 box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.actList a {
 color: black;
 padding: 12px 16px;
 text-decoration: none;
 display: block;
}

.dropdown a:hover {
 background-color: #ddd;
 display: block;
}

.show {
 display: flex;
}
